body {
    margin: 0;
    display: flex;
    font-family: 'PT Sans', sans-serif;
}

.nav-container {
    margin-top: 0;
    margin-bottom: 0;
    width: 160px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.nav-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1f1fa0;
    width: 160px;
    height: 96vh;
}

.logo-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.nav-menue-section {
    display: flex;
}

.nav-menue {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-menue a {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 40px;
}

.nav-menue a:hover {
    border-left: white solid 6px;
    background-color: rgba(255, 255, 255, 0.253);
    width: 100%;
}

.nav-animation {
    border-left: white solid 6px !important;
}

.footer-section {
    position: absolute;
    bottom: 16px;
    display: flex;
    flex-direction: column;
    width: 160px;
}

.user-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border: white solid 2px;
    border-radius: 50px;
}


/* Optimazition for mobile device display */

@media(max-width: 900px) {
    .body {
        width: 100%;
    }
    .content-section {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .nav-container {
        position: absolute;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
    }
    .nav-bar {
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #1f1fa0;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo-section {
        display: flex;
        justify-content: flex-start;
        margin: 6px;
        width: 40px;
        height: 40px;
    }
    .logo-section img {
        width: 40px;
        height: 40px;
    }
    .nav-menue-section {
        display: flex;
        align-items: center;
        margin: 0px;
        height: 100%;
    }
    .nav-menue {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 500px;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .nav-menue a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-menue a:hover {
        border-bottom: none;
        background-color: rgba(255, 255, 255, 0.253);
        width: 100%;
        height: 100%;
    }
    .nav-animation {
        border-bottom: none !important;
    }
    .footer-section {
        position: unset;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .user-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-image img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border: white solid 2px;
        border-radius: 50px;
    }
}


/* Optimazition for mobile device display */

@media(max-width: 740px) {
    .body {
        width: 100%;
    }
    .content-section {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .nav-container {
        position: absolute;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
    }
    .nav-bar {
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #1f1fa0;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo-section {
        display: flex;
        justify-content: flex-start;
        margin: 6px;
        width: 40px;
        height: 40px;
    }
    .logo-section img {
        width: 40px;
        height: 40px;
    }
    .nav-menue-section {
        display: flex;
        align-items: center;
        margin: 0px;
        height: 100%;
    }
    .nav-menue {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 500px;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .nav-menue a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-menue a:hover {
        border-bottom: none;
        background-color: rgba(255, 255, 255, 0.253);
        width: 100%;
        height: 100%;
    }
    .nav-animation {
        border-bottom: none !important;
    }
    .footer-section {
        position: unset;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .user-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-image img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border: white solid 2px;
        border-radius: 50px;
    }
}